<h2>Title</h2>
<p><%= @book.title %></p>

<h2>Body</h2>
<p><%= @book.body %></p>
<%= link_to "後で修正(修正)", edit_book_path(@book.id) %>
<%= link_to "後で修正(消す)", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
